.p-toast-message-content {
    display: flex;
    align-items: flex-start;
}

.p-toast-message-text {
    flex: 1 1 auto;
}

.p-toast {
    .p-toast-message {
        margin: 0 0 1rem 0;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        .p-toast-message-content {
            padding: 1rem;
            border-width: 0 0 0 6px;
            .p-toast-message-icon {
                font-size: 2rem;
                color: $primary;
            }
            .p-toast-message-text {
                margin: 0 0 0 1rem;
            }
            .p-toast-detail {
                margin: 0.5rem 0 0 0;
            }
        }
        .p-toast-icon-close {
            color: $primary;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background: transparent;
            transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;
            flex: none;
        }

        &.p-toast-message-success {
            background: $light;
            border: solid $primary;
            border-width: 0 0 0 6px;
            color: $primary;
        }
    }
}

.p-component, .p-component * {
	box-sizing: border-box;
}
.p-dialog {
	display: flex;
	flex-direction: column;
	pointer-events: auto;
	max-height: 90%;
	transform: scale(1);
	position: relative;
	&.p-confirm-dialog {
		.p-confirm-dialog-icon {
			font-size: 2rem;
		}
		.p-confirm-dialog-message {
			margin-left: 1rem;
		}
	}
	.p-dialog-header {
		color: rgb(55, 65, 81);
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
		border-bottom: 0px none;
		background: rgb(255, 255, 255);
		padding: 1.5rem;
	}
	.p-dialog-footer {
		color: rgb(75, 85, 99);
		text-align: right;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		border-top: 0px none;
		background: rgb(255, 255, 255);
		padding: 0px 1.5rem 1.5rem;
		button {
			width: auto;
			margin: 0px 0.5rem 0px 0px;
		}
	}
	.p-dialog-content {
		background: #ffffff;
		color: #4b5563;
		padding: 0 1.5rem 2rem 1.5rem;
	}
}
.p-dialog-footer {
	flex-shrink: 0;
}
.p-button {
	display: inline-flex;
	cursor: pointer;
	user-select: none;
	align-items: center;
	vertical-align: bottom;
	text-align: center;
	position: relative;
	margin: 0px;
	overflow: hidden;
	color: rgb(255, 255, 255);
	font-size: 1rem;
	outline-color: transparent;
	background: rgb(59, 130, 246);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(59, 130, 246);
	border-image: initial;
	padding: 0.75rem 1.25rem;
	transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
	border-radius: 6px;
	&.p-button-text {
		background-color: transparent;
		color: rgb(59, 130, 246);
		border-color: transparent;
		background-color: transparent;
		color: rgb(59, 130, 246);
		border-color: transparent;
	}
	.p-button-label {
		transition-duration: 0.2s;
	}
}
.p-confirm-dialog {
	.p-dialog-content {
		display: flex;
		align-items: center;
	}
}
.p-dialog-content {
	overflow-y: auto;
	flex-grow: 1;
}
.p-dialog-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}
.p-component-overlay {
	background-color: rgba(0, 0, 0, 0.4);
	transition-duration: 0.2s;
}

.p-fileupload {
	.p-fileupload-buttonbar {
		background: #f9fafb;
		padding: 1.25rem;
		border: 1px solid #e5e7eb;
		color: #374151;
		border-bottom: 0 none;
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
		.p-button {
			margin-right: 0.5rem;
		}
	}
}
.p-button {
	margin: 0;
	display: inline-flex;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	align-items: center;
	vertical-align: bottom;
	text-align: center;
	overflow: hidden;
	position: relative;
	color: #ffffff;
	background: #3B82F6;
	border: 1px solid #3B82F6;
	padding: 0.75rem 1.25rem;
	font-size: 1rem;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
	border-radius: 6px;
	outline-color: transparent;
	&.p-fileupload-choose {
		position: relative;
		overflow: hidden;
	}
	.p-button-icon-left {
		margin-right: 0.5rem;
	}
}

.p-icon {
	display: inline-block;
}
.p-icon-wrapper {
	display: inline-flex;
}
.p-float-label {
	display: block;
	position: relative;
	label {
		position: absolute;
		pointer-events: none;
		top: 50%;
		margin-top: -.5rem;
		transition-property: all;
		transition-timing-function: ease;
		line-height: 1;
	}
	& > label {
		left: 0.75rem;
		color: #64748b;
		transition-duration: 0.2s;
	}
}
.p-float-label input:focus~label, .p-float-label input.p-filled~label, .p-float-label textarea:focus~label, .p-float-label textarea.p-filled~label, .p-float-label .p-inputwrapper-focus~label, .p-float-label .p-inputwrapper-filled~label {
	top: -.75rem;
	font-size: 12px;
}
.p-fluid {
	.p-chips {
		display: flex;
	}
	.p-inputtext {
		width: 100%;
	}
}
.p-chips {
	.p-chips-multiple-container {
		padding: 0.25rem 0.25rem;
		gap: 0.25rem;
		.p-chips-token {
			border-radius: 4px;
			margin: 0;
			padding: 0.25rem 0.75rem;
			margin-right: 0.5rem;
			background: #f1f5f9;
			color: #1e293b;
			border-radius: 16px;
		}
		&:has(.p-chips-token) {
			.p-chips-input-token {
				margin-left: 0.5rem;
			}
		}
		.p-chips-input-token {
			margin-left: 0.5rem;
			padding: 0.25rem 0;
		}
	}
}
.p-chips-multiple-container {
	margin: 0;
	padding: 0;
	list-style-type: none;
	cursor: text;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
}
.p-inputtext {
	box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(18, 18, 23, 0.05);
	font-family: var(--font-family);
	font-feature-settings: var(--font-feature-settings, normal);
	font-size: 1rem;
	color: #334155;
	background: #ffffff;
	padding: 0.5rem 0.75rem;
	border: 1px solid #cbd5e1;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
	appearance: none;
	border-radius: 6px;
    margin: 0;
}
.p-chips-token {
	cursor: default;
	display: inline-flex;
	align-items: center;
	flex: 0 0 auto;
	max-width: 100%;
}
.p-chips-input-token {
	flex: 1 1 auto;
	display: inline-flex;
}
.p-chips-token-label {
	min-width: 0%;
	overflow: auto;
}
.p-fluid .p-calendar {
    display: flex;
}

.p-calendar {
	position: relative;
	display: inline-flex;
	max-width: 100%;
	.p-inputtext {
		flex: 1 1 auto;
		width: 1%;
		text-overflow: ellipsis;
	}
}
.p-datepicker {
	width: auto;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.75rem;
	background: #ffffff;
	color: #334155;
	border: 1px solid #cbd5e1;
	border-radius: 6px;
	&:not(.p-datepicker-inline) {
		background: #ffffff;
		border: 1px solid #e2e8f0;
		box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -2px rgba(0, 0, 0, 0.1);
		.p-datepicker-header {
			background: #ffffff;
		}
	}
	.p-datepicker-header {
		padding: 0 0 0.5rem 0;
		color: #334155;
		background: #ffffff;
		font-weight: 500;
		margin: 0 0 0 0;
		border-bottom: 1px solid #e2e8f0;
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
		.p-datepicker-title {
			line-height: 1.75rem;
			.p-datepicker-month {
				margin-right: 0.5rem;
			}
		}
	}
	table {
		width: 100%;
		border-collapse: collapse;
		font-size: 1rem;
		margin: 0.5rem 0 0 0;
	}
}

.p-datepicker-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	.p-datepicker-title {
		margin: 0 auto;
	}
}

.p-datepicker .p-datepicker-header .p-datepicker-prev, .p-datepicker .p-datepicker-header .p-datepicker-next {
	width: 1.75rem;
	height: 1.75rem;
	color: #64748b;
	border: 0 none;
	background: transparent;
	border-radius: 50%;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
}
.p-datepicker-prev, .p-datepicker-next {
	cursor: pointer;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	overflow: hidden;
	position: relative;
}
.p-link {
	text-align: left;
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	text-align: left;
	background-color: transparent;
	margin: 0;
	padding: 0;
	border: none;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
}
.p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-year, .p-datepicker .p-datepicker-header .p-datepicker-title .p-datepicker-month {
	color: #334155;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
	font-weight: 500;
	padding: 0.25rem;
}

.p-calendar-w-btn .p-datepicker-trigger {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}

.p-calendar-w-btn .p-inputtext {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.p-button-icon-only {
    width: 2.5rem;
}

.p-button.p-button-icon-only {
    width: 2.5rem;
    padding: 0.5rem 0;
}

.p-button-icon-only {
    justify-content: center;
}

.p-button {
    margin: 0;
    display: inline-flex;
    cursor: pointer;
    -webkit-user-select: none;
    user-select: none;
    align-items: center;
    vertical-align: bottom;
    text-align: center;
    overflow: hidden;
    position: relative;
}

.p-inputtext.p-variant-filled:enabled:hover {
    background-color: #f8fafc;
}

.p-inputtext:enabled:hover {
    border-color: #94a3b8;
}

p-calendar.ng-dirty.ng-invalid > .p-calendar > .p-inputtext {
    border-color: #f87171;
}

.p-dialog-mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
}

.p-component-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.p-component-overlay-enter {
    animation: p-component-overlay-enter-animation 150ms forwards;
}

.p-component-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    transition-duration: 0.2s;
}

.p-dialog {
    display: flex;
    flex-direction: column;
    pointer-events: auto;
    max-height: 90%;
    transform: scale(1);
    position: relative;
}

.p-dialog {
    border-radius: 12px;
    background-color: #ffffff;
}

.p-dialog {
    border-radius: 6px;
    box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 8px 10px -6px rgba(0, 0, 0, 0.1);
    border: 1px solid #e2e8f0;
}

.p-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.p-dialog .p-resizable-handle {
    position: absolute;
    font-size: .1px;
    display: block;
    cursor: se-resize;
    width: 12px;
    height: 12px;
    right: 1px;
    bottom: 1px;
}

.p-dialog-draggable .p-dialog-header {
    cursor: move;
}

.p-dialog .p-dialog-header {
    border-top-right-radius: 12px;
    border-top-left-radius: 12px;
}

.p-dialog .p-dialog-header {
    border-bottom: 0 none;
    background: #ffffff;
    color: #334155;
    padding: 1.5rem;
    border-top-right-radius: 6px;
    border-top-left-radius: 6px;
}

.p-dialog-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0;
}

.p-dialog .p-dialog-header .p-dialog-title {
    font-weight: 600;
    font-size: 1.25rem;
}

.p-dialog .p-dialog-header-icons {
    display: flex;
    align-items: center;
}

.p-dialog .p-dialog-header .p-dialog-header-icon:last-child {
    margin-right: 0;
}

.p-dialog .p-dialog-header .p-dialog-header-icon {
    width: 1.75rem;
    height: 1.75rem;
    color: #64748b;
    border: 0 none;
    background: transparent;
    border-radius: 50%;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
    margin-right: 0.5rem;
}

.p-dialog .p-dialog-header-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    position: relative;
}

.p-dialog .p-dialog-content:last-of-type {
    border-bottom-right-radius: 12px;
    border-bottom-left-radius: 12px;
}

.p-dialog .p-dialog-content {
    background: #ffffff;
    color: #334155;
    padding: 0 1.5rem 1.5rem 1.5rem;
}

.p-dialog-content {
    overflow-y: auto;
    flex-grow: 1;
}

.p-hidden-accessible {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.p-inputtext {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(18, 18, 23, 0.05);
}

.p-inputtext {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1rem;
    color: #334155;
    background: #ffffff;
    padding: 0.5rem 0.75rem;
    border: 1px solid #cbd5e1;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
    appearance: none;
    border-radius: 6px;
}

.p-chips .p-chips-multiple-container {
    padding: 0.25rem 0.25rem;
    gap: 0.25rem;
}

.p-chips-multiple-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: text;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.p-chips .p-chips-multiple-container .p-chips-token {
    border-radius: 4px;
    margin: 0;
}

.p-chips .p-chips-multiple-container .p-chips-token {
    padding: 0.25rem 0.75rem;
    margin-right: 0.5rem;
    background: #f1f5f9;
    color: #1e293b;
    border-radius: 16px;
}

.p-chips-token {
    cursor: default;
    display: inline-flex;
    align-items: center;
    flex: 0 0 auto;
    max-width: 100%;
}

.p-chips-token-label {
    min-width: 0%;
    overflow: auto;
    margin-right: .25rem;
}

.p-chips .p-chips-multiple-container:has(.p-chips-token) .p-chips-input-token {
    margin-left: 0.5rem;
}

.p-chips .p-chips-multiple-container .p-chips-input-token {
    margin-left: 0.5rem;
}

.p-chips .p-chips-multiple-container .p-chips-input-token {
    padding: 0.25rem 0;
}

.p-chips .p-chips-multiple-container .p-chips-input-token input {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1rem;
    color: #334155;
    padding: 0;
    margin: 0;
}

.p-chips-input-token input {
    border: 0 none;
    outline: 0 none;
    background-color: transparent;
    margin: 0;
    padding: 0;
    box-shadow: none;
    border-radius: 0;
    width: 100%;
}

.p-inputtext {
    border: 1px solid $primary !important;
}

.p-fluid .p-autocomplete {
    display: flex;
}

.p-autocomplete {
    display: inline-flex;
    position: relative;
}

.p-autocomplete .p-autocomplete-multiple-container {
    padding: 0.25rem 0.25rem;
    gap: 0.25rem;
}

.p-autocomplete-multiple-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: text;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token {
    border-radius: 4px;
    margin: 0;
}

.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token {
    padding: 0.25rem 0.75rem;
    background: #f1f5f9;
    color: #1e293b;
    border-radius: 16px;
}

.p-autocomplete-token {
    width: fit-content;
    cursor: default;
    display: inline-flex;
    align-items: center;
    flex: 0 0 auto;
}

.p-autocomplete .p-autocomplete-multiple-container .p-autocomplete-token .p-autocomplete-token-icon {
    margin-left: 0.375rem;
}

.p-autocomplete-token-icon {
    display: flex;
    cursor: pointer;
}
