.p-toast-message-content {
    display: flex;
    align-items: flex-start;
}

.p-toast-message-text {
    flex: 1 1 auto;
}

.p-toast {
    .p-toast-message {
        margin: 0 0 1rem 0;
        box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);
        border-radius: 6px;
        .p-toast-message-content {
            padding: 1rem;
            border-width: 0 0 0 6px;
            .p-toast-message-icon {
                font-size: 2rem;
                color: $primary;
            }
            .p-toast-message-text {
                margin: 0 0 0 1rem;
            }
            .p-toast-detail {
                margin: 0.5rem 0 0 0;
            }
        }
        .p-toast-icon-close {
            color: $primary;
            width: 2rem;
            height: 2rem;
            border-radius: 50%;
            background: transparent;
            transition: background-color 0.2s, color 0.2s, box-shadow 0.2s;
            display: flex;
            align-items: center;
            justify-content: center;
            overflow: hidden;
            position: relative;
            flex: none;
        }

        &.p-toast-message-success {
            background: $light;
            border: solid $primary;
            border-width: 0 0 0 6px;
            color: $primary;
        }
    }
}

.p-component, .p-component * {
	box-sizing: border-box;
}
.p-dialog {
	display: flex;
	flex-direction: column;
	pointer-events: auto;
	max-height: 90%;
	transform: scale(1);
	position: relative;
	&.p-confirm-dialog {
		.p-confirm-dialog-icon {
			font-size: 2rem;
		}
		.p-confirm-dialog-message {
			margin-left: 1rem;
		}
	}
	.p-dialog-header {
		color: rgb(55, 65, 81);
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
		border-bottom: 0px none;
		background: rgb(255, 255, 255);
		padding: 1.5rem;
	}
	.p-dialog-footer {
		color: rgb(75, 85, 99);
		text-align: right;
		border-bottom-right-radius: 6px;
		border-bottom-left-radius: 6px;
		border-top: 0px none;
		background: rgb(255, 255, 255);
		padding: 0px 1.5rem 1.5rem;
		button {
			width: auto;
			margin: 0px 0.5rem 0px 0px;
		}
	}
	.p-dialog-content {
		background: #ffffff;
		color: #4b5563;
		padding: 0 1.5rem 2rem 1.5rem;
	}
}
.p-dialog-footer {
	flex-shrink: 0;
}
.p-button {
	display: inline-flex;
	cursor: pointer;
	user-select: none;
	align-items: center;
	vertical-align: bottom;
	text-align: center;
	position: relative;
	margin: 0px;
	overflow: hidden;
	color: rgb(255, 255, 255);
	font-size: 1rem;
	outline-color: transparent;
	background: rgb(59, 130, 246);
	border-width: 1px;
	border-style: solid;
	border-color: rgb(59, 130, 246);
	border-image: initial;
	padding: 0.75rem 1.25rem;
	transition: background-color 0.2s ease 0s, color 0.2s ease 0s, border-color 0.2s ease 0s, box-shadow 0.2s ease 0s;
	border-radius: 6px;
	&.p-button-text {
		background-color: transparent;
		color: rgb(59, 130, 246);
		border-color: transparent;
		background-color: transparent;
		color: rgb(59, 130, 246);
		border-color: transparent;
	}
	.p-button-label {
		transition-duration: 0.2s;
	}
}
.p-confirm-dialog {
	.p-dialog-content {
		display: flex;
		align-items: center;
	}
}
.p-dialog-content {
	overflow-y: auto;
	flex-grow: 1;
}
.p-dialog-mask {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	pointer-events: none;
}
.p-component-overlay {
	background-color: rgba(0, 0, 0, 0.4);
	transition-duration: 0.2s;
}

.p-fileupload {
	.p-fileupload-buttonbar {
		background: #f9fafb;
		padding: 1.25rem;
		border: 1px solid #e5e7eb;
		color: #374151;
		border-bottom: 0 none;
		border-top-right-radius: 6px;
		border-top-left-radius: 6px;
		.p-button {
			margin-right: 0.5rem;
		}
	}
}
.p-button {
	margin: 0;
	display: inline-flex;
	cursor: pointer;
	-webkit-user-select: none;
	user-select: none;
	align-items: center;
	vertical-align: bottom;
	text-align: center;
	overflow: hidden;
	position: relative;
	color: #ffffff;
	background: #3B82F6;
	border: 1px solid #3B82F6;
	padding: 0.75rem 1.25rem;
	font-size: 1rem;
	transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s;
	border-radius: 6px;
	outline-color: transparent;
	&.p-fileupload-choose {
		position: relative;
		overflow: hidden;
	}
	.p-button-icon-left {
		margin-right: 0.5rem;
	}
}
.p-icon {
	display: inline-block;
}
.p-icon-wrapper {
	display: inline-flex;
}

.p-float-label {
    display: block;
    position: relative;
}

.p-float-label input:focus~label, .p-float-label input.p-filled~label, .p-float-label textarea:focus~label, .p-float-label textarea.p-filled~label, .p-float-label .p-inputwrapper-focus~label, .p-float-label .p-inputwrapper-filled~label {
    top: -.75rem;
    font-size: 12px;
}

.p-float-label label {
    position: absolute;
    pointer-events: none;
    top: 50%;
    margin-top: -.5rem;
    transition-property: all;
    transition-timing-function: ease;
    line-height: 1;
}

.p-float-label > label {
    left: 0.75rem;
    color: #64748b;
    transition-duration: 0.2s;
}

.p-fluid .p-chips {
    display: flex;
}

.p-fluid .p-inputtext {
    width: 100%;
}

.p-chips .p-chips-multiple-container {
    padding: 0.25rem 0.25rem;
    gap: 0.25rem;
}

.p-chips-multiple-container {
    margin: 0;
    padding: 0;
    list-style-type: none;
    cursor: text;
    overflow: hidden;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

.p-inputtext {
    box-shadow: 0 0 #0000, 0 0 #0000, 0 1px 2px 0 rgba(18, 18, 23, 0.05);
}

.p-inputtext {
    font-family: var(--font-family);
    font-feature-settings: var(--font-feature-settings, normal);
    font-size: 1rem;
    color: #334155;
    background: #ffffff;
    padding: 0.5rem 0.75rem;
    border: 1px solid #cbd5e1;
    transition: background-color 0.2s, color 0.2s, border-color 0.2s, box-shadow 0.2s, outline-color 0.2s;
    appearance: none;
    border-radius: 6px;
}

.p-chips .p-chips-multiple-container .p-chips-token {
    border-radius: 4px;
    margin: 0;
}

.p-chips .p-chips-multiple-container .p-chips-token {
    padding: 0.25rem 0.75rem;
    margin-right: 0.5rem;
    background: #f1f5f9;
    color: #1e293b;
    border-radius: 16px;
}

.p-chips-token {
    cursor: default;
    display: inline-flex;
    align-items: center;
    flex: 0 0 auto;
    max-width: 100%;
}

.p-chips .p-chips-multiple-container:has(.p-chips-token) .p-chips-input-token {
    margin-left: 0.5rem;
}

.p-chips .p-chips-multiple-container .p-chips-input-token {
    margin-left: 0.5rem;
}

.p-chips .p-chips-multiple-container .p-chips-input-token {
    padding: 0.25rem 0;
}

.p-chips-input-token {
    flex: 1 1 auto;
    display: inline-flex;
}

.p-chips-token-label {
    min-width: 0%;
    overflow: auto;
}

