@charset "utf-8";

$primary: #13357b;
$secondary: #1f05e6;
$light: #f2f2f2;
$dark: #14141f;

$font-family-base: "Roboto", sans-serif;

$headings-font-family: "Lato", sans-serif;

$body-color: #757575;

$headings-color: $dark;

$headings-font-weight: 500;

$display-font-weight: 600;

$enable-responsive-font-sizes: true;

$border-radius: 10px;

$border-radius-sm: $border-radius;

$border-radius-lg: $border-radius;

$link-decoration: none;

$enable-negative-margins: true;

@import "./variables/variables";

@import "./bootstrap-5.3.3/scss/bootstrap";

@import "./variables/theme-variables";

@import "../css/simplebar/simplebar.css";

@import "../css/icons/tabler-icons/tabler-icons.css";

@import "./layouts/sidebar";
@import "./layouts/header";
@import "./layouts/layouts";

@import "./component/reboot";
@import "./component/card";

@import "./utilities/icon-size";
@import "./utilities/background";

@import "./pages/dashboard1";

@import "quill/dist/quill.snow.css";

@import "primeng/resources/primeng.css";
@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeicons/primeicons.css";

@import "./ngprime";

@import "filepond/dist/filepond.min.css";
@import "filepond-plugin-image-preview/dist/filepond-plugin-image-preview.css";

@import "./animate";

table {
    border: 0;
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
}

.table {
    th {
        font-weight: 400;
        background: #e9ecef47;
        color: #26282b;
    }
    border-color: $primary;
}

.form-control,
.form-select {
    border: var(--bs-border-width) solid $primary;
}

.form-check-input {
    border: 1.25px solid $primary;
}

#btn-back-to-top {
    position: fixed;
    bottom: 60px;
    right: 20px;
    display: none;
    padding-top: 10px;
    padding-bottom: 10px;
    z-index: 1025;
}

*[quill__html] {
    display: none;

    width: 100%;
    margin: 0;
    background: rgb(29, 29, 29);
    box-sizing: border-box;
    color: rgb(204, 204, 204);
    outline: none;
    padding: 12px 15px;
    line-height: 24px;
    font-family: Consolas, Menlo, Monaco, "Courier New", monospace;
    position: absolute;
    top: 0;
    bottom: 0;
    border: none;
}

*[quill__html*="-active-"] {
    display: initial;
}

.ql-editing[data-mode="video"] {
    left: 0px !important;
}

.filepond--root .filepond--credits {
    display: none;
}

.filepond--root,
.filepond--root .filepond--drop-label {
    height: 400px;
}

.filepond--drop-label {
    border: 2px dashed $primary;
}

.p-editor-container {
	.p-editor-toolbar.ql-snow {
		border: 1px solid $primary !important;
	}
	.p-editor-content.ql-snow {
		border-left: 1px solid $primary;
        border-right: 1px solid $primary;
        border-bottom: 1px solid $primary;
	}
}

