<p-panel [toggleable]="true">
    <div class="row g-3 rounded p-3 pt-0" [formGroup]="filterForm">
        <div class="col-12 col-xl-6">
            <span class="h5 py-3 text-primary">Sản phẩm</span>
            <div class="input-group py-2">
                <input class="form-control border border-primary" type="text" placeholder="Tìm kiếm sản phẩm" readonly (click)="onShowProductModal()" formControlName="query" >
                <button class="btn bg-white border border-primary rounded-0 ms-n5 cursor-pointer" type="button" (click)="onShowProductModal()">
                    <i class="ti ti-search"></i>
                </button>
            </div>
        </div>
        <div class="col-12 col-xl-6">
            <span class="h5 py-3 text-primary">Thời gian</span>
            <div class="input-group py-2">
                <div class="d-flex justify-content-between align-items-center gap-2">
                    <p-calendar dataType="string"
                        variant="filled" [showIcon]="true" readonlyInput="true"
                        dateFormat="dd/mm/yy"
                        formControlName="startDateDisplay"/>
                    <span>~</span>
                    <p-calendar dataType="string" variant="filled"
                        [showIcon]="true" readonlyInput="true"
                        dateFormat="dd/mm/yy"
                        formControlName="endDateDisplay" />
                </div>
            </div>
        </div>
        <div class="col-12 col-xl-3">
            <span class="h5 py-3 text-primary">Mã Booking</span>
            <input type="text" class="form-control" formControlName="bookingCode">
        </div>
        <div class="col-12 col-xl-3">
            <span class="h5 py-3 text-primary">Số điện thoại</span>
            <input type="phone" class="form-control" formControlName="phone">
        </div>
        <div class="col-12 col-xl-3">
            <span class="h5 py-3 text-primary">Bổ sung</span>
            <select class="form-select" #select formControlName="codeAddOn">
                <option value="0">Chọn dữ liệu bổ sung</option>
                <option value="1">Email</option>
                <option value="2">Tên</option>
                <option value="3">Địa chỉ</option>
            </select>
        </div>
        <div class="col-12 col-xl-3">
            <span class="h5 py-3 text-primary">Dữ liệu bổ sung</span>
            <input type="text" class="form-control" formControlName="dataAddOn">
        </div>
        <div class="col-12 text-center">
            <button class="btn btn-primary" (click)="onSubmit()">Tìm kiếm</button>
        </div>
    </div>
</p-panel>

<div class="page-content p-3 my-3">
    <p-table
        #dt
        [tableStyle]="{ 'min-width': '50rem' }"
        [value]="bookings"
        styleClass="p-datatable-gridlines"
        [paginator]="true"
        [rows]="rows"
        [first]="first"
        [totalRecords]="totalRecords"
        (onPage)="onPageChange($event)"
        [rowsPerPageOptions]="[10, 25, 50]"
        [showCurrentPageReport]="true"
        currentPageReportTemplate="Hiển thị {first} đến {last} của {totalRecords} Booking"
        (sortFunction)="customSort($event)"
        [customSort]="true"
        scrollHeight="400px"
        [virtualScroll]="true"
        [virtualScrollItemSize]="10"
        [lazy]="true"
        (onLazyLoad)="loadBookingLazy($event)">
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="bookingCode">
                    Mã booking
                    <p-sortIcon field="bookingCode" />
                </th>
                <th pSortableColumn="productCode">
                    Mã sản phẩm
                    <p-sortIcon field="productCode" />
                </th>
                <th pSortableColumn="productName">
                    Tên sản phẩm
                    <p-sortIcon field="productName" />
                </th>
                <th pSortableColumn="registerDate">
                    Ngày đăng ký
                    <p-sortIcon field="registerDate" />
                </th>
                <th pSortableColumn="name">
                    Tên
                    <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="email">
                    Email
                    <p-sortIcon field="email" />
                </th>
                <th pSortableColumn="phone">
                    Số điện thoại
                    <p-sortIcon field="phone" />
                </th>
                <th pSortableColumn="address">
                    Địa chỉ
                    <p-sortIcon field="address" />
                </th>
                <th pSortableColumn="adult">
                    Người lớn
                    <p-sortIcon field="adult" />
                </th>
                <th pSortableColumn="childrent1">
                    Trẻ em (dưới 5 tuổi)
                    <p-sortIcon field="childrent1" />
                </th>
                <th pSortableColumn="childrent2">
                    Trẻ em (5 - 10 tuổi)
                    <p-sortIcon field="childrent2" />
                </th>
                <th pSortableColumn="productAmt">
                    Số tiền
                    <p-sortIcon field="productAmt" />
                </th>
                <th pSortableColumn="remark">
                    Ghi chú
                    <p-sortIcon field="remark" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-booking>
            <tr>
                <td>{{ booking.bookingCode }}</td>
                <td>{{ booking.productCode }}</td>
                <td>{{ booking.productName }}</td>
                <td>{{ booking.registerDate }}</td>
                <td>{{ booking.name }}</td>
                <td>{{ booking.email }}</td>
                <td>{{ booking.phone }}</td>
                <td>{{ booking.address }}</td>
                <td>{{ booking.adult }}</td>
                <td>{{ booking.childrent1 }}</td>
                <td>{{ booking.childrent2 }}</td>
                <td>{{ booking.productAmt }}</td>
                <td>{{ booking.remark }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
            </tr>
        </ng-template>
    </p-table>
</div>

<app-product-modal [visible]="productModalVisible"
                (invisible)="onCloseProductModal($event)"
                (selectRow)="onClickRow($event)"></app-product-modal>
