<div class="card p-fluid">
    <p-panel [toggleable]="true" [formGroup]="filterForm">
        <div class="field grid">
            <div class="col-12 md:col-6">
                <label class="mb-2 font-bold text-lg">Sản phẩm</label>
                <p-inputGroup>
                    <input type="text" pInputText placeholder="Tìm kiếm sản phẩm" readonly (click)="onShowProductModal()" formControlName="query"/>
                    <button type="button" pButton icon="pi pi-search" (click)="onShowProductModal()"></button>
                </p-inputGroup>
            </div>

            <div class="col-12 md:col-6">
                <label class="col-12 font-bold text-lg">Thời gian</label>
                <div class="flex justify-content-between align-items-center">
                    <p-calendar dataType="string"
                        variant="filled" [showIcon]="true" readonlyInput="true"
                        dateFormat="dd/mm/yy"
                        formControlName="startDateDisplay"/>
                    <span>~</span>
                    <p-calendar dataType="string" variant="filled"
                        [showIcon]="true" readonlyInput="true"
                        dateFormat="dd/mm/yy"
                        formControlName="endDateDisplay" />
                </div>
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 md:col-3">
                <label class="mb-2 font-bold text-lg">Mã Booking</label>
                <input type="text" pInputText formControlName="bookingCode">
            </div>

            <div class="col-12 md:col-3">
                <label class="mb-2 font-bold text-lg">Số điện thoại</label>
                <input type="phone" pInputText formControlName="phone">
            </div>

            <div class="col-12 md:col-3">
                <label class="mb-2 font-bold text-lg">Bổ sung</label>
                <p-dropdown
                    [options]="addOnItem"
                    optionLabel="label"
                    optionValue="value"
                    id="codeAddOn"
                    placeholder="Chọn dữ liệu bổ sung"
                    [showClear]="true"
                    formControlName="codeAddOn"
                    [checkmark]="true"
                    >

                </p-dropdown>
            </div>
            <div class="col-12 md:col-3">
                <label class="mb-2 font-bold text-lg">Dữ liệu bổ sung</label>
                <input type="text" pInputText formControlName="dataAddOn">
            </div>
        </div>
        <div class="field grid">
            <div class="col-12 text-center">
                <button class="w-fit-content" pButton (click)="onSubmit()" label="Tìm kiếm"></button>
            </div>
        </div>
    </p-panel>
</div>

<div class="card p-fluid">
    <p-table
        #dt
        [tableStyle]="{ 'min-width': '50rem' }"
        [value]="bookings"
        styleClass="p-datatable-gridlines"
        (sortFunction)="customSort($event)"
        [customSort]="true"
        scrollHeight="400px"
        [virtualScroll]="true"
        [virtualScrollItemSize]="10"
        [lazy]="true"
        (onLazyLoad)="loadBookingLazy($event)"
        dataKey="bookingCode"
        [(selection)]="selectedBooking"
        (onRowSelect)="onRowSelect($event)"
        selectionMode="single"  >
        <ng-template pTemplate="header">
            <tr>
                <th pSortableColumn="bookingCode" class="text-center text-nowrap">
                    Mã booking
                    <p-sortIcon field="bookingCode" />
                </th>
                <th pSortableColumn="productCode" class="text-center text-nowrap">
                    Mã sản phẩm
                    <p-sortIcon field="productCode" />
                </th>
                <th pSortableColumn="productName" class="text-center text-nowrap">
                    Tên sản phẩm
                    <p-sortIcon field="productName" />
                </th>
                <th pSortableColumn="registerDate" class="text-center text-nowrap">
                    Ngày đăng ký
                    <p-sortIcon field="registerDate" />
                </th>
                <th pSortableColumn="name" class="text-center text-nowrap">
                    Tên
                    <p-sortIcon field="name" />
                </th>
                <th pSortableColumn="email" class="text-center text-nowrap">
                    Email
                    <p-sortIcon field="email" />
                </th>
                <th pSortableColumn="phone" class="text-center text-nowrap">
                    Số điện thoại
                    <p-sortIcon field="phone" />
                </th>
                <th pSortableColumn="address" class="text-center text-nowrap">
                    Địa chỉ
                    <p-sortIcon field="address" />
                </th>
                <th pSortableColumn="adult" class="text-center text-nowrap">
                    Người lớn
                    <p-sortIcon field="adult" />
                </th>
                <th pSortableColumn="childrent1" class="text-center text-nowrap">
                    Trẻ em (dưới 5 tuổi)
                    <p-sortIcon field="childrent1" />
                </th>
                <th pSortableColumn="childrent2" class="text-center text-nowrap">
                    Trẻ em (5 - 10 tuổi)
                    <p-sortIcon field="childrent2" />
                </th>
                <th pSortableColumn="productAmt" class="text-center text-nowrap">
                    Số tiền
                    <p-sortIcon field="productAmt" />
                </th>
                <th pSortableColumn="remark" class="text-center text-nowrap">
                    Ghi chú
                    <p-sortIcon field="remark" />
                </th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-booking>
            <tr [pSelectableRow]="booking">
                <td class="text-start text-nowrap">{{ booking.bookingCode }}</td>
                <td class="text-center text-nowrap">{{ booking.productCode }}</td>
                <td class="text-start text-nowrap">{{ booking.productName }}</td>
                <td class="text-center text-nowrap">{{ booking.registerDate }}</td>
                <td class="text-start text-nowrap">{{ booking.name }}</td>
                <td class="text-start text-nowrap">{{ booking.email }}</td>
                <td class="text-center text-nowrap">{{ booking.phone }}</td>
                <td class="text-start text-nowrap">{{ booking.address }}</td>
                <td class="text-center text-nowrap">{{ booking.adult }}</td>
                <td class="text-center text-nowrap">{{ booking.childrent1 }}</td>
                <td class="text-center text-nowrap">{{ booking.childrent2 }}</td>
                <td class="text-center text-nowrap">{{ booking.productAmt }}</td>
                <td class="text-start text-nowrap">{{ booking.remark }}</td>
            </tr>
        </ng-template>
        <ng-template pTemplate="loadingbody">
            <tr>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
                <td><p-skeleton></p-skeleton></td>
            </tr>
        </ng-template>
    </p-table>

    <div class="flex align-items-center justify-content-center">
        <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)"
        [rowsPerPageOptions]="[10, 20, 30]"></p-paginator>
    </div>
</div>

<app-product-modal [visible]="productModalVisible"
                (invisible)="onCloseProductModal($event)"
                (selectRow)="onClickRow($event)"></app-product-modal>

<p-sidebar [(visible)]="sidebarVisible" styleClass="w-30rem" position="right">
    <ng-template pTemplate="header">
        <span class="font-semibold text-xl">Chi tiết đơn hàng</span>
    </ng-template>
    <div class="grid g-3">
        <dl class="col-12">
            <dt class="font-bold text-lg">Mã booking:&nbsp;</dt>
            <dd class="">{{ selectedBooking.bookingCode }}</dd>
            <dt class="font-bold text-lg">Mã sản phẩm:&nbsp;</dt>
            <dd class="">{{ selectedBooking.productCode }}</dd>
            <dt class="font-bold text-lg">Tên sản phẩm:&nbsp;</dt>
            <dd class="">{{ selectedBooking.productName }}</dd>
            <dt class="font-bold text-lg">Ngày đăng ký:&nbsp;</dt>
            <dd class="">{{ selectedBooking.registerDate }}</dd>
            <dt class="font-bold text-lg">Tên:&nbsp;</dt>
            <dd class="">{{ selectedBooking.name }}</dd>
            <dt class="font-bold text-lg">Email:&nbsp;</dt>
            <dd class="">{{ selectedBooking.email }}</dd>
            <dt class="font-bold text-lg">Số điện thoại:&nbsp;</dt>
            <dd class="">{{ selectedBooking.phone }}</dd>
            <dt class="font-bold text-lg">Địa chỉ:&nbsp;</dt>
            <dd class="">{{ selectedBooking.address }}</dd>
            <dt class="font-bold text-lg">Người lớn:&nbsp;</dt>
            <dd class="">{{ selectedBooking.adult }}</dd>
            <dt class="font-bold text-lg">Trẻ em (dưới 5 tuổi):&nbsp;</dt>
            <dd class="">{{ selectedBooking.childrent1 }}</dd>
            <dt class="font-bold text-lg">Trẻ em (5 - 10 tuổi):&nbsp;</dt>
            <dd class="">{{ selectedBooking.childrent2 }}</dd>
            <dt class="font-bold text-lg">Số tiền:&nbsp;</dt>
            <dd class="">{{ selectedBooking.productAmt }}</dd>
            <dt class="font-bold text-lg">Ghi chú:&nbsp;</dt>
            <dd class="">{{ selectedBooking.remark }}</dd>
        </dl>
    </div>
</p-sidebar>
