<div class="page-wrapper" id="main-wrapper" data-layout="vertical" data-navbarbg="skin6" data-sidebartype="full"
    data-sidebar-position="fixed" data-header-position="fixed">
    <app-sidebar></app-sidebar>

    <div class="body-wrapper vh-100">
        <app-header></app-header>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
        <app-footer style="bottom: 0;" class="w-100"></app-footer>
    </div>

    <button type="button" class="btn btn-danger rounded-circle btn-lg" id="btn-back-to-top">
        <i class="ti ti-arrow-up"></i>
    </button>
</div>
