<div class="row g-3">
    <div class="col-12">
        <form class="row g-3" [formGroup]="categoryForm">
            <div class="col-12 col-xl-6">
                <label for="name" class="form-label">Tên</label>
                <input type="text" id="name" class="form-control" formControlName="name"
                    [ngClass]="{'is-invalid': submitted && f['name'].errors }">
                @if (submitted && f['name'].errors) {
                <div class="invalid-feedback">
                    @if (f['name'].errors['required']) {
                    <div>Vui lòng nhập tên</div>
                    }
                </div>
                }
            </div>
            <div class="col-12 col-xl-6">
                <label for="nameEng" class="form-label">Tên Tiếng anh</label>
                <input type="text" id="nameEng" class="form-control" formControlName="nameEng"
                    [ngClass]="{'is-invalid': submitted && f['nameEng'].errors }">
                @if (submitted && f['nameEng'].errors) {
                <div class="invalid-feedback">
                    @if (f['nameEng'].errors['required']) {
                    <div>Vui lòng nhập tên tiếng anh</div>
                    }
                </div>
                }
            </div>
            <div class="col-12">
                <label for="url" class="form-label">Url</label>
                <input type="text" id="url" class="form-control" formControlName="url"
                    [ngClass]="{'is-invalid': submitted && f['url'].errors }">
                @if (submitted && f['url'].errors) {
                <div class="invalid-feedback">
                    @if (f['url'].errors['required']) {
                    <div>Vui lòng nhập url</div>
                    }
                </div>
                }
            </div>
            <div class="col-12">
                <label for="sort" class="form-label">Thông tin chi tiết</label>
                <textarea class="form-control" id="description" rows="3" formControlName="description"
                    [ngClass]="{'is-invalid': submitted && f['description'].errors }"></textarea>
                @if (submitted && f['description'].errors) {
                <div class="invalid-feedback">
                    @if (f['description'].errors['required']) {
                    <div>Vui lòng nhập thông tin chi tiết</div>
                    }
                </div>
                }
            </div>
            <div class="col-12">
                <label for="sort" class="form-label">Thông tin chi tiết (tiếng anh)</label>
                <textarea class="form-control" id="descriptionEng" rows="3" formControlName="descriptionEng"
                    [ngClass]="{'is-invalid': submitted && f['descriptionEng'].errors }"></textarea>
                @if (submitted && f['descriptionEng'].errors) {
                <div class="invalid-feedback">
                    @if (f['descriptionEng'].errors['required']) {
                    <div>Vui lòng nhập thông tin chi tiết (tiếng anh)</div>
                    }
                </div>
                }
            </div>
            <div class="col-12">
                <label class="form-label">Hình ảnh</label>
                <file-pond #myPond class="col-12"
                    [options]="pondOptions"
                    [files]="pondFiles"
                    (onaddfile)="pondHandleAddFile($event)"
                    >
                </file-pond>
            </div>
            <div class="col-12 col-xl-3">
                <label for="level" class="form-label">Cấp bậc</label>
                <input type="number" id="level" value="0" class="form-control" formControlName="level" min="0">
            </div>
            <div class="col-12 col-xl-3">
                <label for="sort" class="form-label">Sắp xếp</label>
                <input type="number" id="sort" value="0" class="form-control" formControlName="sort" min="0">
            </div>
            <div class="col-12 col-xl-3">
                <label for="type" class="form-label">Loại</label>
                <select id="type" class="form-select" #select (change)="onChangeType(select.value)">
                    <option value="BOOKING" [selected]="typeSelected === 'BOOKING'">Booking</option>
                    <option value="BLOG" [selected]="typeSelected === 'BLOG'">Blog</option>
                </select>
            </div>
            <div class="col-12 col-xl-3">
                <label for="parentId" class="form-label">Thể loại cha</label>
                <select id="parentId" class="form-select" #select1 (change)="onChangeParentId(select1.value)">
                    <option value="0" [selected]="parentIdSelected === 0">Chọn thể loại cha</option>
                    @if (categories.length > 0) {
                    @for (item of categories; track item.id) {
                    <option [value]="item.id" [selected]="+parentIdSelected === item.id">{{ item | transformCategory }}
                    </option>
                    }
                    }
                </select>
            </div>
            <div class="col-12 d-flex justify-content-center gap-3">
                <button class="btn btn-primary" (click)="onSubmit()">Lưu thông tin</button>
                <button class="btn btn-gray border border-secondary" (click)="onReset()">Reset</button>
            </div>
        </form>
    </div>
</div>

<div class="row g-3 mt-3">
    <div class="col-12">
        <div class="table overflow-x-auto">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th class="text-center text-nowrap py-2"></th>
                        <th class="text-center text-nowrap py-2">Id</th>
                        <th class="text-center text-nowrap py-2">Parent Id</th>
                        <th class="text-center text-nowrap py-2">Name</th>
                        <th class="text-center text-nowrap py-2">Name eng</th>
                        <th class="text-center text-nowrap py-2">Level</th>
                        <th class="text-center text-nowrap py-2">Sort</th>
                        <th class="text-center text-nowrap py-2">Type</th>
                        <th class="text-center text-nowrap py-2">Url</th>
                        <th class="text-center text-nowrap py-2"></th>
                    </tr>
                </thead>
                <tbody>
                    @for (item of categoryHierarchy; track item.id) {
                    <tr>
                        <td class="text-center text-nowrap py-2" role="button" (click)="onEdit(item)"><i
                                class="ti ti-edit"></i></td>
                        <td class="text-center text-nowrap py-2">{{ item.id }}</td>
                        <td class="text-center text-nowrap py-2">{{ item.parentId }}</td>
                        <td class="py-2 text-nowrap">
                            @if (item.parentId > 0) {
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            }
                            {{ item.nameOrg }}
                        </td>
                        <td class="text-center text-nowrap py-2">
                            @if (item.parentId > 0) {
                            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                            }
                            {{ item.nameEngOrg }}
                        </td>
                        <td class="text-center text-nowrap py-2">{{ item.level }}</td>
                        <td class="text-center text-nowrap py-2">{{ item.sort }}</td>
                        <td class="text-center text-nowrap py-2">{{ item.type }}</td>
                        <td class="text-center text-nowrap py-2">{{ item.url }}</td>
                        <td class="text-center text-nowrap py-2" role="button" (click)="onDelete($event, item)"><i
                                class="ti ti-trash"></i></td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<p-toast position="bottom-right" key="br" />
<p-confirmDialog />
