<div class="card p-fluid">
    <div class="field grid">
        <label class="col-12 mb-2 md:col-2 md:mb-0 font-bold text-lg">Sản phẩm</label>
        <div class="col-12 md:col-10">
            <p-inputGroup>
                <input type="text" pInputText placeholder="Tìm kiếm sản phẩm" readonly (click)="onShowProductModal()" [(ngModel)]="query"/>
                <button type="button" pButton icon="pi pi-search" (click)="onShowProductModal()"></button>
            </p-inputGroup>
        </div>
    </div>
</div>

<div class="card p-fluid">
    <p-panel header="Kéo thả sản phẩm bên trái vào ô bên phải" [toggleable]="true" [collapsed]="false">
        @if (productSelected !== null) {
            <div class="flex gap-3 my-3">
                <span class="font-bold text-lg">
                    Sản phẩm chính:
                </span>
                <span class="font-bold text-red">
                    ({{ productSelected.pdtCode }}) {{ productSelected.pdtName }}
                </span>
            </div>
        }
        <div class="field grid">
            <div class="col-12 md:col-6 md:border-right-2 border-primary">
                <p-table
                    [value]="availableProduct"
                    #dt1
                    scrollDirection="both"
                    [scrollable]="true"
                    [rowHover]="true"
                    styleClass="p-datatable-gridlines"
                    responsiveLayout="scroll"
                    (scroll)="onScroll($event, 'A')"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-center text-nowrap">Mã sản phẩm</th>
                            <th class="text-center text-nowrap">Tên</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr role="button" (click)="onClickRow(item)" (onDragStart)="onDragStart(item)"
                            (onDragEnd)="onDragEnd()" pDraggable>
                            <td class="text-center text-nowrap">{{
                                item.pdtCode }}</td>
                            <td class="text-center text-nowrap">{{
                                item.pdtName }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="col-12 md:col-6 drop-column" pDroppable (onDrop)="onDrop()">
                <p-table
                    [value]="selectedProducts"
                    #dt2
                    scrollDirection="both"
                    [scrollable]="true"
                    [rowHover]="true"
                    styleClass="p-datatable-gridlines"
                    responsiveLayout="scroll"
                    (scroll)="onScroll($event, 'S')"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th class="text-center text-nowrap">Mã sản phẩm</th>
                            <th class="text-center text-nowrap">Sắp xếp</th>
                            <th class="text-center text-nowrap">Tên</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr role="button">
                            <td class="text-center text-nowrap" (click)="onDelete($event, item)"><i class="pi pi-trash"></i></td>
                            <td class="text-center text-nowrap">{{
                                item.relatedProductCode }}</td>
                                <td class="text-center text-nowrap">{{
                                    item.sort }}</td>
                            <td class="text-center text-nowrap">{{
                                item.relatedProductName }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-panel>
</div>

<p-dialog header="Thông tin sản phẩm" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }"  [formGroup]="productRelationForm">
    <div class="flex align-items-center gap-3 mb-3">
        <label for="relatedProductCode" class="font-semibold w-6rem">Mã sản phẩm</label>
        <input
            pInputText
            id="relatedProductCode"
            class="flex-auto"
            autocomplete="off"
            formControlName="relatedProductCode"
            readonly />
    </div>
    <div class="flex align-items-center gap-3 mb-3">
        <label for="productName" class="font-semibold w-6rem">Tên sản phẩm</label>
        <input
            pInputText
            id="productName"
            class="flex-auto"
            autocomplete="off"
            formControlName="productName"
            readonly />
    </div>

    <div class="flex align-items-center gap-3 mb-3">
        <label for="sort" class="font-semibold w-6rem">Sắp xếp</label>
        <p-inputNumber
            inputId="sort"
            formControlName="sort"
            min="0"
            [showButtons]="true"
            buttonLayout="horizontal"
            [step]="1"
            decrementButtonClass="p-button-danger"
            incrementButtonClass="p-button-success"
            incrementButtonIcon="pi pi-plus"
            decrementButtonIcon="pi pi-minus"
            inputStyleClass="text-center"
            decrementButtonClass="text-rainmaker bg-relaxation-green border-blueberry-whip"
            incrementButtonClass="text-rainmaker bg-relaxation-green border-blueberry-whip">
        </p-inputNumber>
    </div>

    <div class="flex align-items-center gap-3 mb-3">
        <label for="used" class="font-semibold w-6rem">Sử dụng</label>
        <p-checkbox
            formControlName="used"
            [binary]="true"
            inputId="used"></p-checkbox>
    </div>

    <input type="hidden" formControlName="productCode">

    <div class="flex justify-content-end gap-2">
        <button
            pButton
            pRipple
            label="Lưu thông tin"
            class="p-button-primary"
            (click)="onSubmit()"
            >
        </button>
        <button
            pButton
            pRipple
            label="Đóng"
            class="p-button-secondary"
            (click)="onCancel()"
            >
        </button>
    </div>
</p-dialog>

<p-confirmDialog />
<p-toast position="bottom-right" key="br" />

<app-product-modal [visible]="productModalVisible"
                (invisible)="onCloseProductModal($event)"
                (selectRow)="onClickRow($event)"></app-product-modal>

