<div class="card p-fluid">
    <div class="field grid">
        <label class="col-12 mb-2 md:col-2 md:mb-0 font-bold text-lg">Sản phẩm</label>
        <div class="col-12 md:col-10">
            <p-inputGroup>
                <input type="text" pInputText placeholder="Tìm kiếm sản phẩm" readonly (click)="onShowProductModal()" [(ngModel)]="query"/>
                <button type="button" pButton icon="pi pi-search" (click)="onShowProductModal()"></button>
            </p-inputGroup>
        </div>
    </div>
</div>

<div class="card p-fluid">
    <p-panel header="Kéo thả sản phẩm bên trái vào ô bên phải" [toggleable]="true" [collapsed]="false">
        @if (productSelected !== null) {
            <div class="flex gap-3">
                <span>
                    Sản phẩm chính:
                </span>
                <span class="font-bold text-red">
                    ({{ productSelected.pdtCode }}) {{ productSelected.pdtName }}
                </span>
            </div>
        }
        <div class="field grid">
            <div class="col-12 md:col-6">
                <p-table
                    [value]="availableProduct"
                    #dt1
                    scrollDirection="both"
                    [scrollable]="true"
                    [rowHover]="true"
                    styleClass="p-datatable-gridlines"
                    responsiveLayout="scroll"
                    (scroll)="onScroll($event, 'A')"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-center text-nowrap">Mã sản phẩm</th>
                            <th class="text-center text-nowrap">Tên</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr role="button" (click)="onClickRow(item)" (onDragStart)="onDragStart(item)"
                            (onDragEnd)="onDragEnd()" pDraggable>
                            <td class="text-center text-nowrap">{{
                                item.pdtCode }}</td>
                            <td class="text-center text-nowrap">{{
                                item.pdtName }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
            <div class="col-12 md:col-6 drop-column" pDroppable (onDrop)="onDrop()">
                <p-table
                    [value]="selectedProducts"
                    #dt2
                    scrollDirection="both"
                    [scrollable]="true"
                    [rowHover]="true"
                    styleClass="p-datatable-gridlines"
                    responsiveLayout="scroll"
                    (scroll)="onScroll($event, 'S')"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th></th>
                            <th class="text-center text-nowrap">Mã sản phẩm</th>
                            <th class="text-center text-nowrap">Sắp xếp</th>
                            <th class="text-center text-nowrap">Tên</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr role="button">
                            <td class="text-center text-nowrap" (click)="onDelete($event, item)"><i class="pi pi-trash"></i></td>
                            <td class="text-center text-nowrap">{{
                                item.relatedProductCode }}</td>
                                <td class="text-center text-nowrap">{{
                                    item.sort }}</td>
                            <td class="text-center text-nowrap">{{
                                item.relatedProductName }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </div>
        </div>
    </p-panel>
</div>

<p-dialog header="Thông tin sản phẩm" [modal]="true" [(visible)]="visible" [style]="{ width: '30rem' }"  [formGroup]="productRelationForm">
    <div class="flex align-items-center gap-3 mb-3">
        <label for="relatedProductCode" class="font-semibold w-6rem">Mã sản phẩm</label>
        <input
            pInputText
            id="relatedProductCode"
            class="flex-auto"
            autocomplete="off"
            formControlName="relatedProductCode"
            readonly />
    </div>

    <div class="d-flex align-items-center gap-3 mb-3">
        <label for="pdtName" class="form-label text-nowrap">Tên sản phẩm</label>
        <input id="pdtName" class="form-control" autocomplete="off" readonly formControlName="productName"/>
    </div>
    <div class="d-flex align-items-center gap-3 mb-3">
        <label for="sort" class="form-label text-nowrap">Sắp xếp</label>
        <input type="number" id="sort" class="form-control" autocomplete="off" formControlName="sort"/>
        <label for="sort" class="form-label text-nowrap">Sử dụng</label>
        <input type="checkbox" id="used" class="form-check-input" autocomplete="off" formControlName="used"/>
    </div>
    <input type="hidden" formControlName="productCode">
    <div class="d-flex justify-content-end gap-2">
        <button class="btn btn-gray border border-secondary" (click)="onCancel()">Đóng</button>
        <button class="btn btn-primary" (click)="onSubmit()">Lưu thông tin</button>
    </div>
</p-dialog>

<p-confirmDialog />
<p-toast position="bottom-right" key="br" />

<app-product-modal [visible]="productModalVisible"
                (invisible)="onCloseProductModal($event)"
                (selectRow)="onClickRow($event)"></app-product-modal>

