<div class="card p-fluid">
    <div class="grid">
        <div class="md:col-4 col-12">
            <p-panel header="Loại mã">
                <p-table
                    [value]="codeKind"
                    #dt1
                    dataKey="kindCode"
                    [rows]="100"
                    scrollDirection="both"
                    [scrollable]="true"
                    [rowHover]="true"
                    styleClass="p-datatable-gridlines"
                    responsiveLayout="scroll"
                    [(selection)]="kindCodeSelected"
                    (onRowSelect)="onClickRow($event.data)"
                    selectionMode="single"
                >
                    <ng-template pTemplate="header">
                        <tr>
                            <th class="text-center text-nowrap">Mã</th>
                            <th class="text-center text-nowrap">Tên</th>
                        </tr>
                    </ng-template>
                    <ng-template pTemplate="body" let-item>
                        <tr [pSelectableRow]="item">
                            <td class="text-center text-nowrap">{{ item.kindCode }}</td>
                            <td class="text-start text-nowrap">{{ item.kindName }}</td>
                        </tr>
                    </ng-template>
                </p-table>
            </p-panel>
        </div>
        <div class="md:col-8 col-12">
            <div class="grid">
                <span class="col-12 md:col-2 text-lg">Phân loại mã</span>
                <span class="col-12 md:col-10 text-lg"><span class="text-red-600">{{ kindCodeSelected.kindCode }}</span>&nbsp;({{ kindCodeSelected.kindName }})</span>
            </div>
            <p-panel header="Nhập dữ liệu" [formGroup]="codeForm">
                <div class="field grid">
                    <div class="col-12">
                        <div class="grid field">
                            <label class="col-12 mb-2 md:col-3 md:mb-0 font-bold">Sản phẩm</label>
                            <p-inputGroup class="col-2">
                                <input pInputText type="text" [value]="'01' + kindCodeSelected.kindCode" readonly>
                                <input pInputText class="text-center" type="text" formControlName="codeCd">
                            </p-inputGroup>
                            <span class="col-7 text-red-600 text-sm flex justify-content-start align-items-center">Nhập số có 2 chữ số. Nếu bạn không nhập, sẽ được đăng ký tự động.</span>
                        </div>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="codeName" class="col-12 mb-2 md:col-3 md:mb-0 font-bold">Tên mã</label>
                    <div class="col-12 md:col-9">
                        <input pInputText id="codeName" type="text"
                            formControlName="codeName"/>
                    </div>
                </div>
                <div class="field grid">
                    <label htmlFor="codeNameEng" class="col-12 mb-2 md:col-3 md:mb-0 font-bold">Tên mã (tiếng anh)</label>
                    <div class="col-12 md:col-9">
                        <input pInputText id="codeNameEng" type="text"
                            formControlName="codeNameEng"/>
                    </div>
                </div>

                <div class="field grid">
                    <label class="col-12 mb-2 md:col-3 md:mb-0 font-bold">Nội dung bổ dung #1</label>
                    <div class="col-12 md:col-9">
                        <div class="flex gap-3">
                            <input pInputText id="codeS1" type="text" formControlName="codeS1"/>

                            <input pInputText id="codeS2" type="text" formControlName="codeS2"/>

                            <input pInputText id="codeS3" type="text" formControlName="codeS3"/>
                        </div>
                    </div>
                </div>

                <div class="field grid">
                    <label class="col-12 mb-2 md:col-3 md:mb-0 font-bold">Nội dung bổ dung #2</label>
                    <div class="col-12 md:col-9">
                        <div class="flex gap-3">
                            <input pInputText id="codeN1" type="text" formControlName="codeN1"/>

                            <input pInputText id="codeN2" type="text" formControlName="codeN2"/>

                            <input pInputText id="codeN3" type="text" formControlName="codeN3"/>
                        </div>
                    </div>
                </div>

                <div class="field grid">
                    <label class="col-12 mb-2 md:col-3 md:mb-0 font-bold">Nội dung bổ dung #3</label>
                    <div class="col-12 md:col-9">
                        <div class="flex gap-3">
                            <input pInputText id="codeD1" type="text" formControlName="codeD1"/>

                            <input pInputText id="codeD2" type="text" formControlName="codeD2"/>

                            <input pInputText id="codeD3" type="text" formControlName="codeD3"/>
                        </div>
                    </div>
                </div>

                <div class="field grid">
                    <label htmlFor="sort" class="col-12 mb-2 md:col-3 md:mb-0 font-bold">Sắp xếp</label>
                    <div class="col-12 md:col-4">
                        <p-inputNumber
                            inputId="sort"
                            formControlName="sort"
                            min="0"
                            [showButtons]="true"
                            buttonLayout="horizontal"
                            [step]="1"
                            decrementButtonClass="p-button-danger"
                            incrementButtonClass="p-button-success"
                            incrementButtonIcon="pi pi-plus"
                            decrementButtonIcon="pi pi-minus"
                            inputStyleClass="text-center"
                            decrementButtonClass="text-rainmaker bg-relaxation-green border-blueberry-whip"
                            incrementButtonClass="text-rainmaker bg-relaxation-green border-blueberry-whip"></p-inputNumber>
                    </div>
                    <div class="col-12 md:col-4">
                        <div class="field-checkbox mt-3">
                            <p-checkbox
                            [binary]="true"
                            formControlName="used"
                            inputId="used"></p-checkbox>
                            <label for="used" class="mb-2 md:mb-0 font-bold">Sử dụng</label>
                        </div>
                    </div>
                </div>

                <div class="field grid">
                    <label htmlFor="remark" class="col-12 mb-2 md:col-3 md:mb-0 font-bold">Ghi chú</label>
                    <div class="col-12 md:col-9">
                        <div class="flex gap-3">
                            <input pInputText id="remark" type="text" formControlName="remark"/>
                        </div>
                    </div>
                </div>

                <div class="col-12 flex justify-content-center gap-3 py-3">
                    <button pButton class="btn-primary w-fit-content" (click)="onSubmit()" label="Lưu thông tin"></button>
                    <button pButton class="btn-secondary w-fit-content" (click)="onReset()" label="Reset"></button>
                </div>
            </p-panel>
        </div>
    </div>
</div>

<div class="card p-fluid">
    <p-panel header="Danh sách mã">
        <p-table
            [value]="code"
            #dt1
            dataKey="codeCd"
            [rows]="100"
            scrollDirection="both"
            [scrollable]="true"
            [rowHover]="true"
            styleClass="p-datatable-gridlines"
            responsiveLayout="scroll"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center text-nowrap"></th>
                    <th class="text-center text-nowrap">Mã</th>
                    <th class="text-center text-nowrap">Tên</th>
                    <th class="text-center text-nowrap">Tên (tiếng anh)</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr role="button">
                    <td class="text-center text-nowrap">
                        <div class="d-flex justify-content-center align-items-center">
                            <button pButton class="mx-1" (click)="onEditCode(item)" icon="pi pi-eye"></button>
                            <button pButton class="mx-1" (click)="onDeleteCode($event, item)" icon="pi pi-trash"></button>
                        </div>
                    </td>
                    <td class="text-center text-nowrap">{{ item.codeCd }}</td>
                    <td class="text-center text-nowrap">{{ item.codeName }}</td>
                    <td class="text-center text-nowrap">{{ item.codeNameEng }}</td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
</div>

<p-toast position="bottom-right" key="br" />
<p-confirmDialog />
