<p-blockUI [blocked]="blocked">
    <p-progressSpinner></p-progressSpinner>
</p-blockUI>

<div class="card p-fluid">
    <p-panel header="Thông tin tiêu đề bài viết" [toggleable]="true" [formGroup]="postFormDefinition">
        <div class="field grid">
            <label htmlFor="defTitle" class="col-12 mb-2 md:col-2 md:mb-0 font-bold">Tiêu đề</label>
            <div class="col-12 md:col-10">
                <input pInputText id="defTitle" type="text"
                    formControlName="defTitle"
                    aria-describedby="defTitle-help"
                    [ngClass]="{'ng-invalid ng-dirty': submitted && f['defTitle'].errors }"/>
                @if (submitted && f['defTitle'].errors) {
                    @if (f['defTitle'].errors['required']) {
                        <small id="defTitle-help" class="text-red-600">
                            Vui lòng nhập tiêu đề
                        </small>
                    }
                }
            </div>
        </div>

        <div class="field grid">
            <label htmlFor="defName1" class="col-12 mb-2 md:col-2 md:mb-0 font-bold">Tên phía trên</label>
            <div class="col-12 md:col-10">
                <input pInputText id="defName1" type="text"
                    formControlName="defName1"
                    aria-describedby="defName1-help"
                    [ngClass]="{'ng-invalid ng-dirty': submitted && f['defName1'].errors }"/>
                @if (submitted && f['defName1'].errors) {
                    @if (f['defName1'].errors['required']) {
                        <small id="defName1-help" class="text-red-600">
                            Vui lòng nhập tên phía trên
                        </small>
                    }
                }
            </div>
        </div>

        <div class="field grid">
            <label htmlFor="defName2" class="col-12 mb-2 md:col-2 md:mb-0 font-bold">Tên phía dưới</label>
            <div class="col-12 md:col-10">
                <input pInputText id="defName2" type="text"
                    formControlName="defName2"
                    aria-describedby="defName2-help"
                    [ngClass]="{'ng-invalid ng-dirty': submitted && f['defName2'].errors }"/>
                @if (submitted && f['defName2'].errors) {
                    @if (f['defName2'].errors['required']) {
                        <small id="defName2-help" class="text-red-600">
                            Vui lòng nhập tên phía dưới
                        </small>
                    }
                }
            </div>
        </div>

        <div class="field grid">
            <label htmlFor="defContent1" class="col-12 mb-2 md:col-2 md:mb-0 font-bold">Nội dung phía trên</label>
            <div class="col-12 md:col-10">
                <input pInputText id="defContent1" type="text"
                    formControlName="defContent1"
                    aria-describedby="defContent1-help"
                    [ngClass]="{'ng-invalid ng-dirty': submitted && f['defContent1'].errors }"/>
                @if (submitted && f['defContent1'].errors) {
                    @if (f['defContent1'].errors['required']) {
                        <small id="defContent1-help" class="text-red-600">
                            Vui lòng nhập nội dung phía trên
                        </small>
                    }
                }
            </div>
        </div>

        <div class="field grid">
            <label htmlFor="defContent2" class="col-12 mb-2 md:col-2 md:mb-0 font-bold">Nội dung phía dưới</label>
            <div class="col-12 md:col-10">
                <input pInputText id="defContent2" type="text"
                    formControlName="defContent2"
                    aria-describedby="defContent2-help"
                    [ngClass]="{'ng-invalid ng-dirty': submitted && f['defContent2'].errors }"/>
                @if (submitted && f['defContent2'].errors) {
                    @if (f['defContent2'].errors['required']) {
                        <small id="defContent2-help" class="text-red-600">
                            Vui lòng nhập nội dung phía dưới
                        </small>
                    }
                }
            </div>
        </div>

        <div class="field grid">
            <label htmlFor="postId" class="col-12 mb-2 md:col-2 md:mb-0 font-bold">Bài đăng</label>
            <div class="col-12 md:col-4">
                <p-dropdown
                    [options]="post"
                    optionLabel="name"
                    optionValue="id"
                    id="postId"
                    placeholder="Chọn bài đăng"
                    [showClear]="true"
                    formControlName="postId"
                    [checkmark]="true"
                    [ngClass]="{'ng-invalid ng-dirty': submitted && f['postId'].errors }"
                    >

                </p-dropdown>
                @if (submitted && f['postId'].errors) {
                    <div class="text-red-600">
                        @if (f['postId'].errors['required']) {
                            <small>Vui lòng chọn bài đăng</small>
                        }
                    </div>
                }
            </div>
        </div>
    </p-panel>
</div>

<div class="card p-fluid">
    <p-table
        [value]="postFormDefinitions"
        #dt1
        dataKey="id"
        [rows]="100"
        scrollDirection="both"
        [scrollable]="true"
        [rowHover]="true"
        styleClass="p-datatable-gridlines"
        responsiveLayout="scroll"
    >
        <ng-template pTemplate="header">
            <tr>
                <th class="text-center text-nowrap"></th>
                <th class="text-center text-nowrap">Id</th>
                <th class="text-center text-nowrap">Tiêu đề</th>
                <th class="text-center text-nowrap">Tên phía trên</th>
                <th class="text-center text-nowrap">Tên phía dưới</th>
                <th class="text-center text-nowrap">Thêm form</th>
                <th class="text-center text-nowrap"></th>
            </tr>
        </ng-template>
        <ng-template pTemplate="body" let-item>
            <tr>
                <td class="text-center text-nowrap" (click)="onEdit(item)"><i
                    class="pi pi-eye"></i></td>
                <td class="text-center text-nowrap">{{ item.id }}</td>
                <td class="text-center text-nowrap">{{ item.defTitle }}</td>
                <td class="text-nowrap">{{ item.defName1 }}</td>
                <td class="text-center text-nowrap">{{ item.defName2 }}</td>
                <td class="text-center text-nowrap">
                    <button pButton routerLink="/post-form/save/{{ item.id }}" label="Thêm
                    Form"></button>
                </td>
                <td class="text-center text-nowrap" (click)="onDelete($event, item)"><i
                        class="pi pi-trash"></i></td>
            </tr>
        </ng-template>
    </p-table>
    <p-paginator [first]="first" [rows]="rows" [totalRecords]="totalRecords" (onPageChange)="onPageChange($event)"
        [showCurrentPageReport]="true" currentPageReportTemplate="{first} - {last} of {totalRecords}"
        [showPageLinks]="false" [showFirstLastIcon]="true"></p-paginator>
</div>

<button class="layout-config-button p-link" type="button" style="top: 57%;" (click)="onSubmit()">
    <i class="pi pi-save"></i>
</button>

<button class="layout-config-button p-link" type="button" style="top: 64%;" (click)="onReset()">
    <i class="pi pi-refresh"></i>
</button>

<p-toast position="bottom-right" key="br" />
<p-confirmDialog />
