<div class="card p-fluid">
    <div class="field grid">
        <label class="col-12 mb-2 md:col-2 md:mb-0 font-bold text-lg">Sản phẩm</label>
        <div class="col-12 md:col-10">
            <p-inputGroup>
                <input type="text" pInputText placeholder="Tìm kiếm sản phẩm" readonly (click)="onShowProductModal()" [(ngModel)]="query"/>
                <button type="button" pButton icon="pi pi-search" (click)="onShowProductModal()"></button>
            </p-inputGroup>
        </div>
    </div>
</div>

<div class="card p-fluid">
    <p-panel header="Nhập dữ liệu (màu đỏ là trường bắt buộc)" [toggleable]="true" [collapsed]="false" [formGroup]="productAmtForm">
        <div class="field grid">
            <label htmlFor="productCode" class="col-12 mb-2 md:col-2 md:mb-0 font-bold">Mã sản phẩm</label>
            <div class="col-12 md:col-6">
                <input pInputText id="productCode" type="text"
                    formControlName="productCode"
                    [ngClass]="{'ng-invalid ng-dirty': submitted && f['productCode'].errors }"
                    />
            </div>
        </div>
        <div class="field grid">
            <label htmlFor="productName" class="col-12 mb-2 md:col-2 md:mb-0 font-bold">Tên sản phẩm</label>
            <div class="col-12 md:col-10">
                <input pInputText id="productName" type="text"
                    formControlName="productName"
                    [ngClass]="{'ng-invalid ng-dirty': submitted && f['productName'].errors }"
                    />
            </div>
        </div>
        <div class="field grid">
            <label htmlFor="status" class="col-12 mb-2 md:col-2 md:mb-0 font-bold">Ngày áp dụng</label>
            <div class="col-12 md:col-6">
                <p-calendar formControlName="registerDate" dataType="string" variant="filled" [showIcon]="true" readonlyInput="true" dateFormat="yy/mm/dd" [ngClass]="{'ng-invalid ng-dirty': submitted && f['registerDate'].errors }"/>
            </div>
        </div>
        <div class="field grid">
            <label htmlFor="supplyAmt" class="col-12 mb-2 md:col-2 md:mb-0 font-bold">Giá cung cấp</label>
            <div class="col-12 md:col-4">
                <p-inputNumber
                    formControlName="supplyAmt"
                    mode="currency"
                    inputId="supplyAmt"
                    currency="VND"
                    locale="vi-VN"
                    [ngClass]="{'is-invalid': submitted && f['supplyAmt'].errors }" />
            </div>
            <div class="col-12 md:col-4 flex align-items-center">
                Đơn giá: {{ f['supplyPrice'].value }} / VAT: {{ f['supplyVat'].value }}
            </div>
        </div>
        <div class="field grid">
            <label htmlFor="retailAmt" class="col-12 mb-2 md:col-2 md:mb-0 font-bold">Giá khách hàng</label>
            <div class="col-12 md:col-4">
                <p-inputNumber
                    formControlName="retailAmt"
                    mode="currency"
                    inputId="retailAmt"
                    currency="VND"
                    locale="vi-VN"
                    [ngClass]="{'is-invalid': submitted && f['retailAmt'].errors }" />
            </div>
            <div class="col-12 md:col-4 flex align-items-center">
                Đơn giá: {{ f['retailAmt'].value }} / VAT: {{ f['retailVat'].value }}
            </div>
        </div>
        <div class="field grid">
            <label htmlFor="tax" class="col-12 mb-2 md:col-2 md:mb-0 font-bold">Thuế</label>
            <div class="col-12 md:col-4">
                <p-inputNumber
                    formControlName="tax"
                    inputId="tax"
                    [min]="0"
                    [max]="100"
                    suffix="%" />
            </div>
        </div>
    </p-panel>
    <p-panel header="Kết quả tìm kiếm" styleClass="mt-3" [toggleable]="true" [collapsed]="false">
        <p-table
            [value]="productAmt"
            #dt1
            scrollDirection="both"
            [scrollable]="true"
            [rowHover]="true"
            styleClass="p-datatable-gridlines"
            responsiveLayout="scroll"
            [loading]="loading"
        >
            <ng-template pTemplate="header">
                <tr>
                    <th class="text-center text-nowrap"></th>
                    <th class="text-center text-nowrap">Id</th>
                    <th class="text-center text-nowrap">Mã sản phẩm</th>
                    <th class="text-center text-nowrap">Tên</th>
                    <th class="text-center text-nowrap">Giá cung cấp</th>
                    <th class="text-center text-nowrap">Giá KH</th>
                    <th class="text-center text-nowrap">Ngày áp dụng</th>
                    <th class="text-center text-nowrap"></th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-item>
                <tr>
                    <td class="text-center text-nowrap cursor-pointer" role="button" (click)="onEdit(item)"><i
                            class="pi pi-eye"></i></td>
                    <td class="text-center text-nowrap">{{ item.id }}</td>
                    <td class="text-center text-nowrap">{{ item.productCode }}</td>
                    <td class="text-start text-nowrap">{{ item.productName }}</td>
                    <td class="text-end text-nowrap">{{ item.supplyAmt }}</td>
                    <td class="text-end text-nowrap">{{ item.retailAmt }}</td>
                    <td class="text-end text-nowrap">{{ item.registerDate }}</td>
                    <td class="text-center text-nowrap cursor-pointer" (click)="onDelete($event, item)">
                        <i class="pi pi-trash"></i></td>
                </tr>
            </ng-template>
        </p-table>
    </p-panel>
</div>

<button class="layout-config-button p-link" type="button" style="top: 57%;" (click)="onSubmit()">
    <i class="pi pi-save"></i>
</button>

<button class="layout-config-button p-link" type="button" style="top: 64%;" (click)="onReset()">
    <i class="pi pi-refresh"></i>
</button>

<p-toast position="bottom-right" key="br" />
<p-confirmDialog />

<app-product-modal [visible]="visible"
                (invisible)="onCloseProductModal($event)"
                (selectRow)="onClickRow($event)"></app-product-modal>
