<div class="row g-3">
    <div class="col-12 col-xl-8">
        <form class="row g-3" [formGroup]="productAmtForm">
            <span class="col-12 h4 pt-3">
                Nhập dữ liệu (màu đỏ là trường bắt buộc)
            </span>
            <div class="col-12">
                <div class="row border border-dark mx-auto">
                    <div class="col-12">
                        <div class="row align-items-center py-1">
                            <div class="col-xl-3">
                                <label for="productCode" class="col-form-label text-red">Mã sản phẩm</label>
                            </div>
                            <div class="col-auto">
                                <input type="text" id="productCode" class="form-control" formControlName="productCode"
                                [ngClass]="{'is-invalid': submitted && f['productCode'].errors }" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row align-items-center py-1">
                            <div class="col-xl-3">
                                <label for="productName" class="col-form-label">Tên sản phẩm</label>
                            </div>
                            <div class="col-xl-9">
                                <input type="text" id="productName" class="form-control" formControlName="productName"
                                [ngClass]="{'is-invalid': submitted && f['productName'].errors }" readonly>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row align-items-center py-1">
                            <div class="col-xl-3">
                                <label for="status" class="col-form-label text-red">Ngày áp dụng</label>
                            </div>
                            <div class="col-xl-9">
                                <div class="d-flex justify-content-between align-items-center gap-2">
                                    <p-calendar formControlName="registerDate" dataType="string" variant="filled" [showIcon]="true" readonlyInput="true" dateFormat="yy/mm/dd" [ngClass]="{'ng-invalid ng-dirty': submitted && f['registerDate'].errors }"/>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row align-items-center py-1">
                            <div class="col-xl-3">
                                <label for="supplyAmt" class="col-form-label text-red">Giá cung cấp</label>
                            </div>
                            <div class="col-auto">
                                <input type="number" id="supplyAmt" class="form-control" formControlName="supplyAmt"
                                [ngClass]="{'is-invalid': submitted && f['supplyAmt'].errors }">
                            </div>
                            <div class="col-auto">
                                <span>VNĐ</span>
                            </div>
                            <div class="col-auto">
                                Đơn giá: {{ f['supplyPrice'].value }} / VAT: {{ f['supplyVat'].value }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row align-items-center py-1">
                            <div class="col-xl-3">
                                <label for="retailAmt" class="col-form-label text-red">Giá khách hàng</label>
                            </div>
                            <div class="col-auto">
                                <input type="number" id="retailAmt" class="form-control" formControlName="retailAmt"
                                [ngClass]="{'is-invalid': submitted && f['retailAmt'].errors }">
                            </div>
                            <div class="col-auto">
                                <span>VNĐ</span>
                            </div>
                            <div class="col-auto">
                                Đơn giá: {{ f['retailPrice'].value }} / VAT: {{ f['retailVat'].value }}
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row align-items-center py-1">
                            <div class="col-xl-3">
                                <label for="tax" class="col-form-label">Thuế</label>
                            </div>
                            <div class="col-auto">
                                <input type="number" id="tax" class="form-control" formControlName="tax"
                                [ngClass]="{'is-invalid': submitted && f['tax'].errors }">
                            </div>
                            <div class="col-auto">
                                <span>%</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-12 d-flex justify-content-center gap-3 py-3">
                <button class="btn btn-primary" (click)="onSubmit()">Lưu thông tin</button>
                <button class="btn btn-gray border border-secondary" (click)="onReset()">Reset</button>
            </div>
        </form>

        <div class="row g-3 py-3">
            <span class="col-12 h4 pt-3">
                Kết quả tìm
            </span>
            <div class="col-12">
                <div class="table overflow-x-auto">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="text-center text-nowrap py-2"></th>
                                <th class="text-center text-nowrap py-2">Id</th>
                                <th class="text-center text-nowrap py-2">Mã sản phẩm</th>
                                <th class="text-center text-nowrap py-2">Tên</th>
                                <th class="text-center text-nowrap py-2">Giá cung cấp</th>
                                <th class="text-center text-nowrap py-2">Giá KH</th>
                                <th class="text-center text-nowrap py-2">Ngày áp dụng</th>
                                <th class="text-center text-nowrap py-2"></th>
                            </tr>
                        </thead>
                        <tbody>
                            @for (item of productAmt; track item.id) {
                            <tr>
                                <td class="text-center text-nowrap py-2" role="button" (click)="onEdit(item)"><i
                                        class="ti ti-edit"></i></td>
                                <td class="text-center text-nowrap py-2">{{ item.id }}</td>
                                <td class="text-center text-nowrap py-2">{{ item.productCode }}</td>
                                <td class="text-start py-2 text-nowrap">{{ item.productName }}</td>
                                <td class="text-end text-nowrap py-2">{{ item.supplyAmt }}</td>
                                <td class="text-end text-nowrap py-2">{{ item.retailAmt }}</td>
                                <td class="text-end text-nowrap py-2">{{ item.registerDate }}</td>
                                <td class="text-center text-nowrap py-2" role="button" (click)="onDelete($event, item)">
                                    <i class="ti ti-trash"></i></td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-xl-4">
        <div class="row g-3 product-xl-fixed">
            <span class="col-12 h4 pt-3 d-flex justify-content-center align-items-center text-primary">
                Danh sách sản phẩm
            </span>
            <div class="col-12">
                <div class="row border border-dark">
                    <div class="col-12 pt-1">
                        <div class="table overflow-auto" style="height: 500px;" (scroll)="onScroll($event)">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="text-center text-nowrap py-2">Mã sản phẩm</th>
                                        <th class="text-center text-nowrap py-2">Tên</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @for (item of products; track item.id) {
                                    <tr role="button" (click)="onClickRow(item)">
                                        <td class="text-center text-nowrap py-2"
                                            [ngClass]="{'bg-primary text-white': productCode === item.pdtCode}">
                                            {{
                                            item.pdtCode }}</td>
                                        <td class="text-center text-nowrap py-2"
                                            [ngClass]="{'bg-primary text-white': productCode === item.pdtCode}">
                                            {{
                                            item.pdtName }}</td>
                                    </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-toast position="bottom-right" key="br" />
<p-confirmDialog />
